@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?2mk8t6");
  src: url("fonts/icomoon.eot?2mk8t6#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?2mk8t6") format("truetype"), url("fonts/icomoon.woff?2mk8t6") format("woff"), url("fonts/icomoon.svg?2mk8t6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nova:before {
  content: "\e92a";
}

.icon-download:before {
  content: "\e93c";
}

.icon-success-factor:before {
  content: "\e93a";
}

.icon-integrity:before {
  content: "\e93b";
}

.icon-equalizer:before {
  content: "\e939";
}

.icon-location:before {
  content: "\e938";
}

.icon-global:before {
  content: "\e937";
}

.icon-download-pdf:before {
  content: "\e936";
}

.icon-delete:before {
  content: "\e934";
}

.icon-fav:before {
  content: "\e935";
}

.icon-sap:before {
  content: "\e933";
}

.icon-ACDB:before {
  content: "\e915";
}

.icon-arrow:before {
  content: "\e916";
}

.icon-BI-portal:before {
  content: "\e917";
}

.icon-calendar:before {
  content: "\e918";
}

.icon-CAPA:before {
  content: "\e919";
}

.icon-content-guideline:before {
  content: "\e91a";
}

.icon-corporate-governance:before {
  content: "\e91b";
}

.icon-corporate-webshope:before {
  content: "\e91c";
}

.icon-employee-expense-claims:before {
  content: "\e91d";
}

.icon-E-recruitment:before {
  content: "\e91e";
}

.icon-euromonitor-passport:before {
  content: "\e91f";
}

.icon-global-hr-flow:before {
  content: "\e920";
}

.icon-GMT-tollbox:before {
  content: "\e921";
}

.icon-insight:before {
  content: "\e922";
}

.icon-KOFAX:before {
  content: "\e923";
}

.icon-luxury-watch-shoping:before {
  content: "\e924";
}

.icon-microsoft-teams:before {
  content: "\e925";
}

.icon-organisation-chart:before {
  content: "\e926";
}

.icon-pluse:before {
  content: "\e927";
}

.icon-ready-to-use-material:before {
  content: "\e928";
}

.icon-renewal-database:before {
  content: "\e929";
}

.icon-salesforce:before {
  content: "\e93d";
}

.icon-trademark-database:before {
  content: "\e92b";
}

.icon-training:before {
  content: "\e92c";
}

.icon-Supply-chain1:before {
  content: "\e92d";
}

.icon-chart:before {
  content: "\e92e";
}

.icon-policy-center1:before {
  content: "\e92f";
}

.icon-style-guide1:before {
  content: "\e930";
}

.icon-audit:before {
  content: "\e90d";
}

.icon-finance:before {
  content: "\e90e";
}

.icon-group-marketing:before {
  content: "\e90f";
}

.icon-HR:before {
  content: "\e910";
}

.icon-IT:before {
  content: "\e911";
}

.icon-leagal:before {
  content: "\e912";
}

.icon-strategy-ecommerce:before {
  content: "\e913";
}

.icon-Supply-chain:before {
  content: "\e914";
}

.icon-policy-center:before {
  content: "\e90a";
}

.icon-qna:before {
  content: "\e90b";
}

.icon-style-guide:before {
  content: "\e90c";
}

.icon-toolbox:before {
  content: "\e900";
}

.icon-branding:before {
  content: "\e901";
}

.icon-dksh-wear:before {
  content: "\e902";
}

.icon-readmore-arrow:before {
  content: "\e903";
}

.icon-coffee:before {
  content: "\e904";
}

.icon-workspace:before {
  content: "\e905";
}

.icon-link:before {
  content: "\e906";
}

.icon-edit:before {
  content: "\e907";
}

.icon-filter:before {
  content: "\e908";
}

.icon-expenses:before {
  content: "\eaeb";
}

.icon-dksh-app:before {
  content: "\eaec";
}

.icon-e-learning:before {
  content: "\eaed";
}

.icon-fantree-news:before {
  content: "\eaee";
}

.icon-hr-zone:before {
  content: "\eaef";
}

.icon-it-desk:before {
  content: "\eaf0";
}

.icon-leave:before {
  content: "\eaf1";
}

.icon-password-self-service:before {
  content: "\eaf2";
}

.icon-picture-park:before {
  content: "\eaf3";
}

.icon-travel:before {
  content: "\eaf6";
}

.icon-arrow-bottom:before {
  content: "\e909";
}

.icon-talent-portal:before {
  content: "\e931";
}

.icon-portal-sites:before {
  content: "\eaf4";
}

.icon-maya:before {
  content: "\e932";
}

.icon-IT-help-desk:before {
  content: "\eaf5";
}/*# sourceMappingURL=icomoon.css.map */