@import "var";
@import "icomoon";

body, html{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  color:$f-t-grey ;
  *{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
}

img{
  max-width: 100%;
}
.btn{
  padding: 10px 35px;
  border-radius:0;
  &.btn-primary{
    background: $f-red;
    color:  $white;
    font-size: 16px;
    border: 1px solid $f-red;
  }
  &.btn-secondary{
    background: $white;
    color:  $f-grey;
    font-size: 16px;
    border: 1px solid $white;
  }
  &.btn-tertiary{
    background: $white;
    color:  $f-grey;
    font-size: 16px;
    border: 2px solid $f-red;
    &:hover{
      background: $white;
      color: darken($f-red, 10);
      border: 2px solid darken($f-red, 5);
    }
  }
}

.accordion {
  &.ft-acc-style-white {
    background: transparent;
    .card {
      background: $white;
      border: 0 none;
      margin-bottom: 1.875rem;
    }
    .card-header {
      padding: 0;
      margin-bottom: 0;
      background-color: transparent;
      border-bottom: 1px solid darken($white, 5%);
      position: relative;
      cursor: pointer;
      .acc-title {
        font-size: 1.875rem;
        font-weight: bold;
        color: $f-grey;
        padding: 1.5rem 1.875rem;
        small{
          position: absolute;
          right: 30px;
          width: 13px;
          height: 3px;
          border-radius: 3px;
          background: $f-red;
          display: block;
          top: calc(50% - 1px);
          &:after{
            content: "";
            @extend .anim-eas-in;
            @extend small;
            transform: rotate(0);
            display: block;
            right: 0;
            top: 0;
          }
        }
        &.collapsed{
          small{
            &:after{
              transform: rotate(90deg);
            }
          }
        }
      }
    }
    .card-body {
      padding: 0;
      .inner{
        padding: 1.875rem 1.875rem;
      }
    }
  }
}


.heading-1{
  font-size: 3.5625rem;
  font-weight: bold;
  color: $f-grey;
}
.heading-2{
  font-weight: bold;
  color: $f-grey;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 20px;
  font-size: 1.875rem;
}
.heading-3{
  font-size: 1.25rem;
  font-weight: bold;
  color: $f-grey;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.hamberger{
  background: $bg-grey;
  padding: 10px 20px;
  vertical-align: middle;
  width: 98px;
  position: fixed;
  z-index: 100;
  text-align: center;
  button.navbar-toggler {
    padding: 10px;
    font-size: 12px;
    line-height: 1;
    background-color: transparent;
    border: 0px solid #fff;
    border-radius: 0;
    vertical-align: middle;
    padding: 3px;
    margin: auto;
    width: 30px;
    small{
      position: relative;
    }
    small, i{
      height: 2px;
      background: $f-red;
      display: block;
      width: 100%;
      border-radius: 0;
      @extend .anim-eas-in;
      &:last-child{
        margin-bottom: 0;
      }
    }
    i{
      position: absolute;
      left: 0;
      width: 100%;
      bottom: -7px;
      &:last-child{
        bottom:7px;
      }
    }
    &:focus{
      outline: 0 none;
    }
    &.active{
      i{
        transform: rotate(-35deg);
        width: 13px;
        bottom: 4px;
      &:last-child{
        transform: rotate(35deg);
        bottom: -4px;
      }
      }
    }
  }
}
.f-nav{
  padding: 27px 0;
  background: $f-red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 105;
}
.shell{
  margin:0;
  padding: 54px 0 0 0;
  overflow: hidden;
  position: relative;
  height: 100%;
  .nav{
    position: fixed;
    left: 0;
    top: 55px;
    z-index: 100;
    width: 134px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background:  $white;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border-right: 1px solid $menu-border;
    @extend .anim-eas-in;
    &::-webkit-scrollbar {
      display: none;
    }
    @media (max-width:1023px) {
      width: 98px;
    }
    @media (max-width:767px) {
      top: 98px;
    }
    ul{
      @extend .ul-reset;
      display: block;
      li{
        display: block;
        border-bottom: 1px solid $menu-border;
        >a{
          display: block;
          padding: 20px 15px;
          text-align: center;
          width: 100%;
          text-decoration: none;
          color: $f-grey;
          font-size: 13px;
          position: relative;
          overflow: hidden;
          @extend .line-hover;
          i{
            display: inline-block;
            width: 100%;
            @extend .anim-eas-in;
            &::before{
              font-size: 40px;
              @media (max-width:1023px) {
                font-size: 26px;
              }
            }
          }
          small{
            display: block;
            font-size: 22px;
            margin: 0;
            padding: 0;
            line-height: 1px;
            margin-top: 10px;
            &:before{
              color: $f-grey;
              line-height: 1px;
            }
          }
          &:hover{
            i{
              color: $f-red;
            }
          }
        }
        &.main{
         &:first-child, &:nth-child(2){
          a{
            color: $f-red;
          }
         }
        }
        .menu{
          position: fixed;
          left: 125px;
          width: 300px;
          background:  $white;
          top: 55px;
          padding: 0px 20px;
          opacity: 0;
          visibility: hidden;
          bottom: 0;
          overflow-x: hidden;
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
          border-right: 1px solid $menu-border;
          z-index: 20;
          // @media (max-width:1023px) {
          //   left: 85px;
          // }
          @media (max-width:767px) {
            left: 40px;
          }
          &::-webkit-scrollbar {
            display: none;
          }
          overflow-y: auto;
          @extend .anim-eas-in;
         
          .accordion{
            margin-right: 2px;
            .card{
              border: 0 none;
              .card-header{
                text-align: left;
                background: none;
                padding: 0;
                border-bottom:1px solid $menu-border;
                *{
                  text-align: left;
                }
                a{
                  text-align: left;
                  padding: 23px 0;
                  display: block;
                  width: auto;
                  font-size: 14px;
                  color: $f-grey;
                  font-weight: bold;
                  position: relative;
                  text-decoration: none;
                  &::before{
                    @extend .anim-eas-in;
                    position: absolute;
                    right: 0px;
                    top: 28px;
                    color: $f-red;
                    z-index: 100;
                    font-size: 10px;
                    transform: rotate(180deg);
                  }
                  &.collapsed{
                    &::before{
                      transform: rotate(0deg);
                    }
                  }
                }
              }
              .menu-inner{
                text-align: left;
                border: 1px solid $menu-border;
                a{
                  width: auto;
                  text-align: left;
                  padding: 13px 20px;
                  display: block;
                  border-bottom: 1px dotted $menu-border;
                  color: $f-grey;
                  padding-left: 55px;
                  position: relative;
                  &:last-child{
                    border-bottom:none 0;
                  }
                  &:before {
                    color: $f-grey;
                    font-size: 25px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 12px;
                    position: absolute;
                    left: 15px;
                    top: 15px;
                    @extend .anim-eas-in;
                  }
                  &:hover{
                    &::before{
                      color: $f-red;
                    }
                  }
                }
                text-align: left;
              }
              .market-list{
                margin: 0;
                padding: 0;
                li{
                  display: inline-block;
                  margin-right: 20px;
                  width: 100%;
                  a{
                    display: inline-block;
                    vertical-align: middle;
                    background:  $bg-grey;
                    border-radius: 0;
                    padding: 5px;
                    width: 100%;
                    @extend .anim-eas-in;
                    position: relative;
                    &::after{
                      display: none;
                    }
                    i{
                      display: inline-block;
                      padding: 10px;
                      border-radius: 0%;
                      width: 50px;
                      height: 50px;
                      text-align: center;
                      vertical-align: middle;
                      line-height: 29px;
                      font-style: normal;
                      font-size: 14px;
                      font-weight: bold;
                      background:  $white;
                      color: $f-red;
                      @extend .anim-eas-in;
                    }
                    span{
                      color: $f-t-grey;
                      margin-left: 15px;
                      display: inline-block;
                      vertical-align: middle;
                      padding-right: 20px;
                      @extend .anim-eas-in;
                    }
                    &:hover{
                      background: $white;
                      span{
                        color: $f-t-grey;
                      }
                      i{
                        background:  $bg-grey;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        @media (min-width:768px) {
          &:hover{
            *{
              text-decoration: none;
            }
            .menu{
              opacity: 1;
              visibility: visible;
              left: 134px;
              @media (max-width:1023px) {
                left: 95px;
              }
              
            }
          }
        }
        @media (max-width:767px) {
          
        }
        
      }
    }
    @media (max-width:767px) {
      left: -50px;
      visibility: hidden;
      opacity: 0;
      &.in{
        left: 0;
        visibility: visible;
        opacity: 1;
        .menu{
          width: calc(100% - 95px);
          left: 40px;
          visibility: hidden;
          opacity: 0;
        }
        .mb-m-active{
          .menu{
            left: 98px;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
  .content-wrap{
    padding-left: 160px;
    background: $bg-grey;
    height: 100%;
    padding-top: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 30px;
    
    @media (max-width:1023px) {
      padding-left: 120px;
    }
    @media (max-width:767px) {
     padding-left: 15px;
     padding-right: 15px;
     padding-top: 44px;
     .row.first-section{
      [class^="col-"], [class*=" col-"]{
        padding: 0;
      }
    }
    }
    
    .f-banner{
      .row{
        margin: 0;
        padding: 0;
        [class^="col-"], [class*=" col-"]{
          margin: 0;
          padding: 0;
        }
      }
      height: 100%;
      .controller-wrap{
        position: absolute;
        right: 0;
        bottom: 0;
        bottom: 0;
        height: 60px;
        width: 120px;
        text-align: center;
        @media (max-width:1024px) {
          width: 73px;
          height: 40px;
        }
        a{
          width: 50%;
          background: $white;
          opacity: 1;
          &.carousel-control-next{
            background: $black;
          }
          &.carousel-control-prev{
            .carousel-control-prev-icon{
              fill: '%23000';
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
            }
          }
        }
      }
      .banner-image{
        background: url(../images/dummy-banner.jpg) center;
        height: 480px;
        background-size: cover;
      }
      .red-bg{
        background: $f-red;
        .banner-content{
          margin: auto;
          color:  $white;
          padding: 12%;
          span{
            font-size: 40px;
            display: block;
            line-height: 20px;
          }
          p{
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 30px;
          }
        }
      }

    }
    .profile{
      background: $white;
      padding: 20px;
      display: flex;
      height: 100%;
      .prof-wrap{
        margin: auto;
        text-align: center;
        >.prof-pic{
          border-radius: 50%;
          overflow: hidden;
          width: 50%;
          height: 50%;
          margin: auto;
          margin-bottom: 15px;
        }
        p{
          margin-bottom: 5px;
        }
        .welcome{
          font-weight: bold;
          font-size: 16px;
        }
        .name{
          font-size: 25px;
          color: $f-red;
        }
        .email{
          font-size: 16px;
          color: $f-grey;
        }
        .btn{
          margin-top: 20px;
          i{
            margin-left: 15px;
          }
        }
      }
    }
  }

  // home page list style starts here
  .article-list{
    padding-top: 50px;
    @media (max-width:1023px) {
      padding-top: 35px;
      
    }
    .mob-filter{
      margin-bottom: 30px;
    }
    a{
      display: block;
      @extend .anim-eas-in;
      .brief{
        background: $white;
        padding: 30px;
        span{
          color: $f-red;
          font-size: 14px;
          margin-bottom: 10px;
          display: block;
          font-weight: bold;
        }
        p{
          color: $f-t-grey;
        }
        small{
          display: inline-block;
        }
      }
      &:hover{
        box-shadow: 0px 6px 12px lighten($f-grey, 60);
        text-decoration: none;
        margin-top: -5px;
        .brief{
          .btn.btn-tertiary{
            background: $f-red;
            color: $white;
            border: 2px solid darken($f-red, 10);
          }
        }
      }
    }
  }
}


.quick-access{
  padding: 0 0;
  margin-top: 30px;
  .cat-wrap{
    display: block;
    background: $white;
    padding: 15px;
    color: $f-grey;
    text-align: center;
    i{
      width: 100%;
      display: block;
      background:$bg-grey;
      padding: 20px 0; 
      margin-bottom: 15px;
      &:before{
        text-align: center;
        font-size: 40px;
        color: $f-red;
      }
    }
    &:hover{
      text-decoration: none;
    }
  }
}


.inner-banner{
  height: 283px;
  display: flex;
  h1{
    font-size: 3.5625rem;
    margin-top: auto;
    margin-bottom: 40px;
    font-weight: bold;
    margin-left: 7.472270869819031%;
    @media (max-width:767px) {
      font-size: 2.5625rem;
    }
  }
  &.banner-navigator{
    background: url(../images/navigator-banner.jpg);
    background-size: cover;
    background-position: center;
    h1{
      color: $white;
    }
  }
  &.banner-dksh-apps{
    background: url(../images/dksh-apps.jpg);
    background-size: cover;
    background-position: center;
    h1{
      color: $white;
    }
  }
}

.inner-content-wrap{
  margin-top: 60px;
  &.without-banner{
    margin-top: 0;
  }
  .cont-container{
    margin: auto;
    @media (min-width:1025px){
      max-width: 1020px;
      width: 100%;
    }
    @media (min-width:768px){
      .mb{
        margin-bottom: 1.875rem;
      }
    }
    @media (max-width:768px){
      .m-mb{
        margin-bottom: 1.875rem;
      }
    }
    .navigator-style{
      .nav-cover{
        background: $bg-grey;
        padding: 1.875rem;
        padding-left: 120px;
        position: relative;
        display: block;
        height: 100%;
        .btn-fav{
          position: absolute;
          right: 20px;
          top: 20px;
          z-index: 10;
          &::before{
            color:lighten($f-t-grey, 10);
            @extend .anim-eas-in;
          }
          &.active{
            &::before{
              color: $f-red;
            }
          }
        }
        @extend .anim-eas-in;
        top: 0;
        span{
          &[class^="icon-"], &[class*="icon-"] {
            position: absolute;
            left: 5px;
            width: 112px;
            text-align: center;
            padding: 15px;
            top: 50%;
            margin-top: -50px;
            display: inline-block;
            height: 112px;
            &::before{
              font-size: 49px;
              color: $f-red;
            }
            &.icon-location,  &.icon-global{
              &:before{
                font-size: 67px !important;
              }
            }
          }
          &[class^="ico-"], &[class*="ico-"] {
            position: absolute;
            text-align: center;
            padding: 15px;
            left: 15px;
            bottom: 15px;
            top: 15px;
            display: flex;
            width: 90px;
            background: $white;
            &::before{
              font-size: 24px;
              color: $f-red;
              font-weight: bold;
              margin: auto;
            }
            &.ico-CG{
              &::before{
                content: "CG";
              }
            }
            &.ico-HC{
              &::before{
                content: "HEC";
              }
            }
            &.ico-PM{
              &::before{
                content: "PM";
              }
            }
            &.ico-TEC{
              &::before{
                content: "TEC";
              }
            }
            &.ico-GRC{
              &::before{
                content: "GRC";
              }
            }
          }

       
        }
        .title{
          font-size: 1.25rem;
          margin-bottom:0.625rem;
          font-weight: bold;
          color: $f-grey;
        }
        p{
          font-size: 0.875rem;
          margin-bottom: 0;
        }
        @media (min-width:768px){
          &:hover{
            top: -3px;
            box-shadow: 0px 6px 12px lighten($f-grey, 60);
          }
        }
        label{
          background: $white;
          border: 1px solid #fff;
          font-size: 12px;
          padding: 5px 15px;
          color: $f-t-grey;
          margin-bottom: 0;
          position: absolute;
          left: 5px;
          top: -5px;
          left: 16px;
          top: -16px;
          box-shadow: 0px 0px 9px -2px rgba(0, 0, 0,.1);
        }
      }
      .card{
        .vertically{
          .nav-cover{
            cursor: pointer;
            padding-left: 1.875rem;
            span{
              position: inherit;
              padding: 0;
              position: initial;
              top: initial;
              left: initial;
              width: initial;
              margin-top: 0;
              height: initial;
              margin-bottom: 20px;
              &.icon-sap:before {
                font-size: 71px;
              }
              &.icon-E-recruitment:before {
                font-size: 60px;
              }
              &.icon-microsoft-teams:before {
                font-size: 55px!important;
              }
              &.icon-microsoft-teams:before {
                font-size: 55px!important;
              }
              &.icon-euromonitor-passport:before{
                font-size: 55px!important;
              }
              
              
              &.icon-salesforce:before {
                font-weight: bold;
              }
            }
          }
        }
        .inner{
          .market-list{
            margin: 0;
            padding: 0;
            li{
              display: inline-block;
              margin-right: 20px;
              a{
                display: inline-block;
                vertical-align: middle;
                background:  $bg-grey;
                border-radius: 0;
                padding: 5px;
                @extend .anim-eas-in;
                position: relative;
                i{
                  display: inline-block;
                  padding: 10px;
                  border-radius: 0%;
                  width: 50px;
                  height: 50px;
                  text-align: center;
                  vertical-align: middle;
                  line-height: 29px;
                  font-style: normal;
                  font-size: 14px;
                  font-weight: bold;
                  background:  $white;
                  color: $f-red;
                  @extend .anim-eas-in;
                }
                span{
                  color: $f-t-grey;
                  margin-left: 15px;
                  display: inline-block;
                  vertical-align: middle;
                  padding-right: 20px;
                  @extend .anim-eas-in;
                }
                &:hover{
                  box-shadow: 0px 0px 9px -2px rgba(0, 0, 0,.1);
                  background: $white;
                  top: -2px;
                  span{
                    color: $f-t-grey;
                  }
                  i{
                    background:  $bg-grey;
                  }
                }
              }
            }
          }
        }
        
      }
    }
  }
}
.my-fav{
  margin-top: 50px;
  margin-bottom: 50px;
  @extend .anim-eas-in;
  .instruction{
    padding: 20px;
    border: 1px dashed lighten( $f-t-grey, 20);
    display: block;
    margin: 0 15px;
    width: 100%;
    text-align: center;
  }
  .nav-cover{
    position: relative;
    cursor: pointer;
    top: 0;
    @extend .anim-eas-in;
    small{
      display: block;
      width: 6px;
      background:lighten( $f-t-grey, 20);
      height: 6px;
      position: absolute;
      right: 20px;
      top: 34px;
      border-radius: 50%;
      
      &:before, &:after{
        position: absolute;
        display: block;
        content: "";
        @extend small;
        right: 0;
      }
      &:before{
        top: 9px;
      }
      &:after{
        top: -9px;
      }
      
    }
    b{
      background: #fff;
      position: absolute;
      right: 16px;
      top: -20px;
      box-shadow:0px 5px 33px rgba(0,0,0,.1);
      padding: 13px;
      display: none;
      font-size: 14px;
      color:$f-t-grey;
      font-weight: normal;
      &:before{
        color: lighten( $f-t-grey, 20);
        margin-right: 5px;
      }
      &:after{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 9px;;
        border-color: transparent transparent transparent #ffffff;
        content: "";
        position: absolute;
        right: -5px;
        top: 50%;
        margin-top: -5px;
      }
    }
    .more.open{
      b{
        display: block;
      }
    }
    background: $white;
    display: block;
    padding: 1.875rem;
    p{
      font-size: 0.875rem;
    }
    span{
      &::before{
        font-size: 49px;
        color: $f-red;
        margin-bottom: 20px;
        display: inline-block;
      }
    }
    .title{
      font-size: 1.25rem;
      color: $f-grey;
      font-weight: bold;
    }
    @media (min-width:768px){
      &:hover{
        top: -3px;
        box-shadow: 0px 6px 12px lighten($f-grey, 60);
      }
    }
  }
}


.widget-bx{
  background: $white;
  padding: 30px;
}

.news-widget{
  margin-bottom: 50px;
  .article-wrap{
    display: flex;
    flex-direction: row;
    margin: 0 -30px;
    margin-bottom: 30px;
    position: relative;
    &:after{
      content: "";
      background:lighten($f-grey, 65);
      height: 1px;
      position: absolute;
      left: 30px;
      right: 30px;
      bottom: -15px;
    }
    .art-img-wrap{
      padding: 0 0 0 30px;
      max-width: 120px; 
      border: none 0;
      .img{
        width: 100%;
        height: 100%;
        img{
          object-fit: cover;
          object-position: center;
          width: 100%;
          height: 100%;
        }
        @media (max-width:1024px) {
          width: 60px;
          height: 60px;
        }
      }
    }
    .art-txt{
      padding: 0 30px;
      .heading-3{
        @extend .anim-eas-in;
      }
      .spec{
        font-size: 15px;
      }
    }
  
    &:last-child{
      margin-bottom: 0;
      &::after{
        display: none;
      }
    }
    &:hover{
      .heading-3{
        color: $f-red;
      }
    }
  }
}

.tags{
  margin-bottom: 50px;
  a{
    display: inline-block;
    border: 1px solid lighten($f-grey, 65);
    font-size: 16px;
    padding: 15px 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    color: $f-grey;
    @extend .anim-eas-in;
    &:hover{
      border-color: $f-red;
    }
  }
}

.widget-option{
  margin-bottom: 20px;
  margin-top: 25px;
  position: relative;
  select{
    border: 1px solid lighten($f-grey, 65);
    padding: 15px;
  }
  .po-filter{
    background: $white;
    padding: 15px 20px;
    display: inline-block;
    color: $f-t-grey;
    margin-right: 15px;
    i{
      margin-right: 10px;
      color: $f-red;
    }
  }
  .policy-filter-opt{
    z-index: 10;
    border: none 0;
    border-radius: 0;
    left: 0;
    right: 0;
    box-shadow: 0 13px 31px -6px rgba(0, 0, 0, .1);
    position: absolute;
    .card{
      border: 0 none;
    }
    label{
      display: inline-block;
      margin-right: 15px;
      cursor: pointer;
      span{
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;
        border: 1px solid $f-t-grey;
        margin-top: -3px;
        &:after{
          @extend .anim-eas-in;
          width: 10px;
          height: 10px;
          background: $f-red;
          border-radius: 50%;
          display: inline-block;
          margin: 4px;
          opacity: 0;
          content: "";
        }
      }
      input[type="radio"]{
        margin-right: 10px;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
      }
      input:checked ~ span:after{
        opacity: 1;
      }
    }
  }
  .acco-closed{
    position: relative;
    display: inline-block;
    color: $f-t-grey;
    background: $white;
    padding: 15px 20px 15px 40px;
    
    @extend .anim-eas-in;
    small{
      font-size: initial;
      line-height: 1;
      @extend .anim-eas-in;
    }
    span{
      width: 1px;
      height: 12px;
      position: absolute;
      background: $f-red;
      display: inline-block;
      left: 20px;
      top: 20px;
      i{
       &::before{
        @extend .anim-eas-in;
         font-size: 7px;
         position: absolute;
         right: -3px;
         color:$f-red;
         bottom: -5px;
       }
       &.top{
         &:before{
           transform: rotate(180deg);
           top: -4px;
           bottom: inherit;
         }
       }
      }
    }
    &.collaspe-po{
      span{
        i:before{
          transform: rotate(180deg);
          bottom: 1px;
        }
        i.top:before{
          transform: rotate(0deg);
          top: 1px;
          bottom: inherit;
        }
      }
    }
  }
}


.art-dt-wrap{
  background: $white;
  margin-bottom: 3.125rem;
  .cont-container{
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
  .artc-date{
    clear: both;
    margin-bottom: 1.563rem;
    color: $f-red;
  }
  img{
    margin-bottom: 1.563rem;
  }
}
.related-artc{
  [class*="col-"]{
    margin-bottom: 3.125rem;
  }
  .reltd-art-item{
    height: 100%;
    padding: 3.125rem;
    background: $white;
    @extend .anim-eas-in;
    .ico-more{
      border-radius: 50%;
      width: 40px;
      text-align: center;
      vertical-align: middle;
      color: $f-red;
      border: 2px solid $f-red;
      height: 40px;
      display: block;
      position: relative;
      &:before {
          position: absolute;
          left: 11px;
          transform: rotate(273deg);
          top: 10px;
      }
    }
    &:hover{
      box-shadow: 0px 6px 12px lighten($f-grey, 60);
      text-decoration: none;
      margin-top: -5px;
    }
  }
}