h* {
  color: #404040;
}

p {
  font-size: 22px;
  color: #969698;
}

a {
  color: #AB1032;
}

a:hover {
  color: #AB1032;
  text-decoration: none;
}

.ul-reset, .shell .nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ul-reset li, .shell .nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.anim-eas-in, .line-hover:after, .shell .nav ul li > a:after, .accordion.ft-acc-style-white .card-header .acc-title small:after, .hamberger button.navbar-toggler small, .hamberger button.navbar-toggler .my-fav .nav-cover small:before, .my-fav .nav-cover .hamberger button.navbar-toggler small:before, .hamberger button.navbar-toggler .my-fav .nav-cover small:after, .my-fav .nav-cover .hamberger button.navbar-toggler small:after, .hamberger button.navbar-toggler i, .shell .nav, .shell .nav ul li > a i, .shell .nav ul li .menu, .shell .nav ul li .menu .accordion .card .card-header a::before, .shell .nav ul li .menu .accordion .card .menu-inner a:before, .shell .nav ul li .menu .accordion .card .market-list li a, .shell .nav ul li .menu .accordion .card .market-list li a i, .shell .nav ul li .menu .accordion .card .market-list li a span, .shell .content-wrap .f-banner .carousel .carousel-inner .carousel-item .overlay, .shell .article-list a, .inner-content-wrap .cont-container .navigator-style .nav-cover .btn-fav::before, .inner-content-wrap .cont-container .navigator-style .nav-cover, .inner-content-wrap .cont-container .navigator-style .card .inner .market-list li a, .inner-content-wrap .cont-container .navigator-style .card .inner .market-list li a i, .inner-content-wrap .cont-container .navigator-style .card .inner .market-list li a span, .my-fav, .my-fav .nav-cover, .news-widget .article-wrap .art-txt .heading-3, .tags a, .widget-option .policy-filter-opt label span:after, .widget-option .acco-closed, .widget-option .acco-closed small, .widget-option .acco-closed .my-fav .nav-cover small:before, .my-fav .nav-cover .widget-option .acco-closed small:before, .widget-option .acco-closed .my-fav .nav-cover small:after, .my-fav .nav-cover .widget-option .acco-closed small:after, .widget-option .acco-closed span i::before, .related-artc .reltd-art-item {
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
}

.line-hover:after, .shell .nav ul li > a:after {
  content: "";
  height: 1px;
  background: #AB1032;
  width: 0px;
  left: 50%;
  position: absolute;
  bottom: 0;
}

.line-hover:hover, .shell .nav ul li > a:hover {
  color: #AB1032;
}

.line-hover:hover:after, .shell .nav ul li > a:hover:after {
  content: "";
  width: 80%;
  margin-left: -40%;
  position: absolute;
}

.custom-select {
  border-radius: 0;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?2mk8t6");
  src: url("fonts/icomoon.eot?2mk8t6#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?2mk8t6") format("truetype"), url("fonts/icomoon.woff?2mk8t6") format("woff"), url("fonts/icomoon.svg?2mk8t6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-equalizer:before {
  content: "\e939";
}

.icon-location:before {
  content: "\e938";
}

.icon-global:before {
  content: "\e937";
}

.icon-global:before {
  content: "\e937";
}

.icon-location:before {
  content: "\e938";
}

.icon-download-pdf:before {
  content: "\e936";
}

.icon-delete:before {
  content: "\e934";
}

.icon-fav:before {
  content: "\e935";
}

.icon-sap:before {
  content: "\e933";
}

.icon-ACDB:before {
  content: "\e915";
}

.icon-arrow:before {
  content: "\e916";
}

.icon-BI-portal:before {
  content: "\e917";
}

.icon-calendar:before {
  content: "\e918";
}

.icon-CAPA:before {
  content: "\e919";
}

.icon-content-guideline:before {
  content: "\e91a";
}

.icon-corporate-governance:before {
  content: "\e91b";
}

.icon-corporate-webshope:before {
  content: "\e91c";
}

.icon-employee-expense-claims:before {
  content: "\e91d";
}

.icon-E-recruitment:before {
  content: "\e91e";
}

.icon-euromonitor-passport:before {
  content: "\e91f";
}

.icon-global-hr-flow:before {
  content: "\e920";
}

.icon-GMT-tollbox:before {
  content: "\e921";
}

.icon-insight:before {
  content: "\e922";
}

.icon-KOFAX:before {
  content: "\e923";
}

.icon-luxury-watch-shoping:before {
  content: "\e924";
}

.icon-microsoft-teams:before {
  content: "\e925";
}

.icon-organisation-chart:before {
  content: "\e926";
}

.icon-pluse:before {
  content: "\e927";
}

.icon-ready-to-use-material:before {
  content: "\e928";
}

.icon-renewal-database:before {
  content: "\e929";
}

.icon-salesforce:before {
  content: "\e92a";
}

.icon-trademark-database:before {
  content: "\e92b";
}

.icon-training:before {
  content: "\e92c";
}

.icon-Supply-chain1:before {
  content: "\e92d";
}

.icon-chart:before {
  content: "\e92e";
}

.icon-policy-center1:before {
  content: "\e92f";
}

.icon-style-guide1:before {
  content: "\e930";
}

.icon-audit:before {
  content: "\e90d";
}

.icon-finance:before {
  content: "\e90e";
}

.icon-group-marketing:before {
  content: "\e90f";
}

.icon-HR:before {
  content: "\e910";
}

.icon-IT:before {
  content: "\e911";
}

.icon-leagal:before {
  content: "\e912";
}

.icon-strategy-ecommerce:before {
  content: "\e913";
}

.icon-Supply-chain:before {
  content: "\e914";
}

.icon-policy-center:before {
  content: "\e90a";
}

.icon-qna:before {
  content: "\e90b";
}

.icon-style-guide:before {
  content: "\e90c";
}

.icon-toolbox:before {
  content: "\e900";
}

.icon-branding:before {
  content: "\e901";
}

.icon-dksh-wear:before {
  content: "\e902";
}

.icon-readmore-arrow:before {
  content: "\e903";
}

.icon-coffee:before {
  content: "\e904";
}

.icon-workspace:before {
  content: "\e905";
}

.icon-link:before {
  content: "\e906";
}

.icon-edit:before {
  content: "\e907";
}

.icon-filter:before {
  content: "\e908";
}

.icon-expenses:before {
  content: "\eaeb";
}

.icon-dksh-app:before {
  content: "\eaec";
}

.icon-e-learning:before {
  content: "\eaed";
}

.icon-fantree-news:before {
  content: "\eaee";
}

.icon-hr-zone:before {
  content: "\eaef";
}

.icon-it-desk:before {
  content: "\eaf0";
}

.icon-leave:before {
  content: "\eaf1";
}

.icon-password-self-service:before {
  content: "\eaf2";
}

.icon-picture-park:before {
  content: "\eaf3";
}

.icon-travel:before {
  content: "\eaf6";
}

.icon-arrow-bottom:before {
  content: "\e909";
}

.icon-talent-portal:before {
  content: "\e931";
}

.icon-portal-sites:before {
  content: "\eaf4";
}

.icon-maya:before {
  content: "\e932";
}

.icon-IT-help-desk:before {
  content: "\eaf5";
}

html {
  font-size: 1rem;
}

body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  color: #969698;
}

body *, html * {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

.btn {
  padding: 10px 35px;
  border-radius: 0;
}

.btn.btn-primary {
  background: #AB1032;
  color: #fff;
  font-size: 16px;
  border: 1px solid #AB1032;
}

.btn.btn-secondary {
  background: #fff;
  color: #404040;
  font-size: 16px;
  border: 1px solid #fff;
}

.btn.btn-tertiary {
  background: #fff;
  color: #404040;
  font-size: 16px;
  border: 2px solid #AB1032;
}

.btn.btn-tertiary:hover {
  background: #fff;
  color: #7c0c24;
  border: 2px solid #940e2b;
}

.accordion.ft-acc-style-white {
  background: transparent;
}

.accordion.ft-acc-style-white .card {
  background: #fff;
  border: 0 none;
  margin-bottom: 1.875rem;
}

.accordion.ft-acc-style-white .card-header {
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  cursor: pointer;
}

.accordion.ft-acc-style-white .card-header .acc-title {
  font-size: 1.875rem;
  font-weight: bold;
  color: #404040;
  padding: 1.5rem 1.875rem;
}

.accordion.ft-acc-style-white .card-header .acc-title small, .accordion.ft-acc-style-white .card-header .acc-title small:after, .accordion.ft-acc-style-white .card-header .acc-title .my-fav .nav-cover small:before, .my-fav .nav-cover .accordion.ft-acc-style-white .card-header .acc-title small:before {
  position: absolute;
  right: 30px;
  width: 13px;
  height: 3px;
  border-radius: 3px;
  background: #AB1032;
  display: block;
  top: calc(50% - 1px);
}

.accordion.ft-acc-style-white .card-header .acc-title small:after {
  content: "";
  -webkit-transform: rotate(0);
          transform: rotate(0);
  display: block;
  right: 0;
  top: 0;
}

.accordion.ft-acc-style-white .card-header .acc-title.collapsed small:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.accordion.ft-acc-style-white .card-body {
  padding: 0;
}

.accordion.ft-acc-style-white .card-body .inner {
  padding: 1.875rem 1.875rem;
}

.heading-1 {
  font-size: 3.5625rem;
  font-weight: bold;
  color: #404040;
}

.heading-2 {
  font-weight: bold;
  color: #404040;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 20px;
  font-size: 1.875rem;
}

.heading-3 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #404040;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.hamberger {
  background: #FAF8F7;
  padding: 10px 20px;
  vertical-align: middle;
  width: 98px;
  position: fixed;
  z-index: 100;
  text-align: center;
}

.hamberger button.navbar-toggler {
  padding: 10px;
  font-size: 12px;
  line-height: 1;
  background-color: transparent;
  border: 0px solid #fff;
  border-radius: 0;
  vertical-align: middle;
  padding: 3px;
  margin: auto;
  width: 30px;
}

.hamberger button.navbar-toggler small, .hamberger button.navbar-toggler .accordion.ft-acc-style-white .card-header .acc-title small:after, .accordion.ft-acc-style-white .card-header .acc-title .hamberger button.navbar-toggler small:after, .hamberger button.navbar-toggler .my-fav .nav-cover small:before, .my-fav .nav-cover .hamberger button.navbar-toggler small:before, .hamberger button.navbar-toggler .my-fav .nav-cover small:after, .my-fav .nav-cover .hamberger button.navbar-toggler small:after {
  position: relative;
}

.hamberger button.navbar-toggler small, .hamberger button.navbar-toggler .accordion.ft-acc-style-white .card-header .acc-title small:after, .accordion.ft-acc-style-white .card-header .acc-title .hamberger button.navbar-toggler small:after, .hamberger button.navbar-toggler .my-fav .nav-cover small:before, .my-fav .nav-cover .hamberger button.navbar-toggler small:before, .hamberger button.navbar-toggler .my-fav .nav-cover small:after, .my-fav .nav-cover .hamberger button.navbar-toggler small:after, .hamberger button.navbar-toggler i {
  height: 2px;
  background: #AB1032;
  display: block;
  width: 100%;
  border-radius: 0;
}

.hamberger button.navbar-toggler small:last-child, .hamberger button.navbar-toggler .accordion.ft-acc-style-white .card-header .acc-title small:last-child:after, .accordion.ft-acc-style-white .card-header .acc-title .hamberger button.navbar-toggler small:last-child:after, .hamberger button.navbar-toggler .my-fav .nav-cover small:last-child:before, .my-fav .nav-cover .hamberger button.navbar-toggler small:last-child:before, .hamberger button.navbar-toggler .my-fav .nav-cover small:last-child:after, .my-fav .nav-cover .hamberger button.navbar-toggler small:last-child:after, .hamberger button.navbar-toggler i:last-child {
  margin-bottom: 0;
}

.hamberger button.navbar-toggler i {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -7px;
}

.hamberger button.navbar-toggler i:last-child {
  bottom: 7px;
}

.hamberger button.navbar-toggler:focus {
  outline: 0 none;
}

.hamberger button.navbar-toggler.active i {
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  width: 13px;
  bottom: 4px;
}

.hamberger button.navbar-toggler.active i:last-child {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  bottom: -4px;
}

.f-nav {
  padding: 27px 0;
  background: #AB1032;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 105;
}

.shell {
  margin: 0;
  padding: 54px 0 0 0;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.shell .nav {
  position: fixed;
  left: 0;
  top: 55px;
  z-index: 100;
  width: 134px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  border-right: 1px solid #e6e6e6;
}

.shell .nav::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1023px) {
  .shell .nav {
    width: 98px;
  }
}

@media (max-width: 767px) {
  .shell .nav {
    top: 98px;
  }
}

.shell .nav ul {
  display: block;
}

.shell .nav ul li {
  display: block;
  border-bottom: 1px solid #e6e6e6;
}

.shell .nav ul li > a {
  display: block;
  padding: 20px 15px;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: #404040;
  font-size: 13px;
  position: relative;
  overflow: hidden;
}

.shell .nav ul li > a i {
  display: inline-block;
  width: 100%;
}

.shell .nav ul li > a i::before {
  font-size: 40px;
}

@media (max-width: 1023px) {
  .shell .nav ul li > a i::before {
    font-size: 26px;
  }
}

.shell .nav ul li > a small, .shell .nav ul li > a .accordion.ft-acc-style-white .card-header .acc-title small:after, .accordion.ft-acc-style-white .card-header .acc-title .shell .nav ul li > a small:after, .shell .nav ul li > a .my-fav .nav-cover small:before, .my-fav .nav-cover .shell .nav ul li > a small:before, .shell .nav ul li > a .my-fav .nav-cover small:after, .my-fav .nav-cover .shell .nav ul li > a small:after {
  display: block;
  font-size: 22px;
  margin: 0;
  padding: 0;
  line-height: 1px;
  margin-top: 10px;
}

.shell .nav ul li > a small:before {
  color: #404040;
  line-height: 1px;
}

.shell .nav ul li > a:hover i {
  color: #AB1032;
}

.shell .nav ul li.main:first-child a, .shell .nav ul li.main:nth-child(2) a {
  color: #AB1032;
}

.shell .nav ul li .menu {
  position: fixed;
  left: 125px;
  width: 300px;
  background: #fff;
  top: 55px;
  padding: 0px 20px;
  opacity: 0;
  visibility: hidden;
  bottom: 0;
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  border-right: 1px solid #e6e6e6;
  z-index: 20;
  overflow-y: auto;
}

@media (max-width: 767px) {
  .shell .nav ul li .menu {
    left: 40px;
  }
}

.shell .nav ul li .menu::-webkit-scrollbar {
  display: none;
}

.shell .nav ul li .menu .accordion {
  margin-right: 2px;
}

.shell .nav ul li .menu .accordion .card {
  border: 0 none;
}

.shell .nav ul li .menu .accordion .card .card-header {
  text-align: left;
  background: none;
  padding: 0;
  border-bottom: 1px solid #e6e6e6;
}

.shell .nav ul li .menu .accordion .card .card-header * {
  text-align: left;
}

.shell .nav ul li .menu .accordion .card .card-header a {
  text-align: left;
  padding: 23px 0;
  display: block;
  width: auto;
  font-size: 14px;
  color: #404040;
  font-weight: bold;
  position: relative;
  text-decoration: none;
}

.shell .nav ul li .menu .accordion .card .card-header a::before {
  position: absolute;
  right: 0px;
  top: 28px;
  color: #AB1032;
  z-index: 100;
  font-size: 10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.shell .nav ul li .menu .accordion .card .card-header a.collapsed::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.shell .nav ul li .menu .accordion .card .menu-inner {
  text-align: left;
  border: 1px solid #e6e6e6;
  text-align: left;
}

.shell .nav ul li .menu .accordion .card .menu-inner a {
  width: auto;
  text-align: left;
  padding: 13px 20px;
  display: block;
  border-bottom: 1px dotted #e6e6e6;
  color: #404040;
  padding-left: 55px;
  position: relative;
}

.shell .nav ul li .menu .accordion .card .menu-inner a:last-child {
  border-bottom: none 0;
}

.shell .nav ul li .menu .accordion .card .menu-inner a:before {
  color: #404040;
  font-size: 25px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
  position: absolute;
  left: 15px;
  top: 15px;
}

.shell .nav ul li .menu .accordion .card .menu-inner a:hover::before {
  color: #AB1032;
}

.shell .nav ul li .menu .accordion .card .market-list {
  margin: 0;
  padding: 0;
}

.shell .nav ul li .menu .accordion .card .market-list li {
  display: inline-block;
  margin-right: 20px;
  width: 100%;
}

.shell .nav ul li .menu .accordion .card .market-list li a {
  display: inline-block;
  vertical-align: middle;
  background: #FAF8F7;
  border-radius: 0;
  padding: 5px;
  width: 100%;
  position: relative;
}

.shell .nav ul li .menu .accordion .card .market-list li a::after {
  display: none;
}

.shell .nav ul li .menu .accordion .card .market-list li a i {
  display: inline-block;
  padding: 10px;
  border-radius: 0%;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 29px;
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  background: #fff;
  color: #AB1032;
}

.shell .nav ul li .menu .accordion .card .market-list li a span {
  color: #969698;
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px;
}

.shell .nav ul li .menu .accordion .card .market-list li a:hover {
  background: #fff;
}

.shell .nav ul li .menu .accordion .card .market-list li a:hover span {
  color: #969698;
}

.shell .nav ul li .menu .accordion .card .market-list li a:hover i {
  background: #FAF8F7;
}

@media (min-width: 768px) {
  .shell .nav ul li:hover * {
    text-decoration: none;
  }
  .shell .nav ul li:hover .menu {
    opacity: 1;
    visibility: visible;
    left: 134px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .shell .nav ul li:hover .menu {
    left: 95px;
  }
}

@media (max-width: 767px) {
  .shell .nav {
    left: -50px;
    visibility: hidden;
    opacity: 0;
  }
  .shell .nav.in {
    left: 0;
    visibility: visible;
    opacity: 1;
  }
  .shell .nav.in .menu {
    width: calc(100% - 95px);
    left: 40px;
    visibility: hidden;
    opacity: 0;
  }
  .shell .nav.in .mb-m-active .menu {
    left: 98px;
    visibility: visible;
    opacity: 1;
  }
}

.shell .content-wrap {
  padding-left: 160px;
  background: #FAF8F7;
  height: 100%;
  padding-top: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 30px;
}

@media (max-width: 1190px) {
  .shell .content-wrap [class^="col-"]:nth-child(2), .shell .content-wrap [class*=" col-"]:nth-child(2) {
    margin-top: 30px;
  }
}

@media (max-width: 1023px) {
  .shell .content-wrap {
    padding-left: 120px;
  }
}

@media (max-width: 767px) {
  .shell .content-wrap {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 44px;
  }
  .shell .content-wrap .row.first-section [class^="col-"], .shell .content-wrap .row.first-section [class*=" col-"] {
    padding: 0;
  }
}

.shell .content-wrap .f-banner {
  height: 100%;
}

.shell .content-wrap .f-banner .row {
  margin: 0;
  padding: 0;
}

.shell .content-wrap .f-banner .row [class^="col-"], .shell .content-wrap .f-banner .row [class*=" col-"] {
  margin: 0;
  padding: 0;
}

.shell .content-wrap .f-banner .carousel .carousel-inner .carousel-item .overlay {
  position: absolute;
  bottom: -20px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  opacity: 0.9;
  color: white;
  font-size: 15px;
  padding: 5px 20px;
  height: 60px;
  overflow: hidden;
  padding-right: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}

.shell .content-wrap .f-banner .carousel .carousel-inner .carousel-item .overlay .overlay-inner {
  margin: auto 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.shell .content-wrap .f-banner .carousel:hover .carousel-inner .carousel-item .overlay {
  opacity: 1;
  bottom: 0;
}

.shell .content-wrap .f-banner .controller-wrap {
  position: absolute;
  right: 0;
  bottom: 0;
  bottom: 0;
  height: 60px;
  width: 120px;
  text-align: center;
}

@media (max-width: 1024px) {
  .shell .content-wrap .f-banner .controller-wrap {
    width: 73px;
    height: 40px;
  }
}

.shell .content-wrap .f-banner .controller-wrap a {
  width: 50%;
  background: #fff;
  opacity: 1;
}

.shell .content-wrap .f-banner .controller-wrap a.carousel-control-next {
  background: #000;
}

.shell .content-wrap .f-banner .controller-wrap a.carousel-control-prev .carousel-control-prev-icon {
  fill: '%23000';
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.shell .content-wrap .f-banner .banner-image {
  background: url(../images/dummy-banner.jpg) center;
  height: 480px;
  background-size: cover;
}

.shell .content-wrap .f-banner .red-bg {
  background: #AB1032;
}

.shell .content-wrap .f-banner .red-bg .banner-content {
  margin: auto;
  color: #fff;
  padding: 12%;
}

.shell .content-wrap .f-banner .red-bg .banner-content span {
  font-size: 40px;
  display: block;
  line-height: 20px;
}

.shell .content-wrap .f-banner .red-bg .banner-content p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.shell .content-wrap .profile {
  background: #fff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shell .content-wrap .profile .prof-wrap {
  text-align: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shell .content-wrap .profile .prof-wrap > .prof-pic {
  border-radius: 50%;
  overflow: hidden;
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
  margin-top: 2%;
  margin-right: 15px;
}

.shell .content-wrap .profile .prof-wrap .prof-dc {
  text-align: left;
  margin: auto 0;
}

.shell .content-wrap .profile .prof-wrap .prof-dc p {
  margin-bottom: 5px;
}

.shell .content-wrap .profile .prof-wrap .prof-dc .welcome {
  font-weight: bold;
  font-size: 16px;
}

.shell .content-wrap .profile .prof-wrap .prof-dc .name {
  font-size: 1.563rem;
  color: #AB1032;
  line-height: 1;
  font-weight: bold;
}

.shell .content-wrap .profile .prof-wrap .prof-dc .email {
  font-size: 1rem;
  color: #404040;
}

.shell .content-wrap .profile .prof-wrap .btn {
  margin-top: 20px;
}

.shell .content-wrap .profile .prof-wrap .btn i {
  margin-left: 15px;
}

.shell .content-wrap .profile .leav-wrap {
  background: #FAF8F7;
  padding: 1.5rem  1.5rem 10px;
  text-align: center;
}

.shell .content-wrap .profile .leav-wrap a {
  font-size: 12px;
}

.shell .content-wrap .profile .leav-wrap hr {
  margin: 2px 0 5px;
}

.shell .content-wrap .profile .leav-wrap h5 {
  position: relative;
  font-size: 1rem;
  color: #404040;
  padding-left: 40px;
  padding-bottom: 17px;
  padding-top: 0;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
}

.shell .content-wrap .profile .leav-wrap h5 span {
  position: absolute;
  left: 0;
  top: -11px;
  font-size: 2rem;
}

.shell .content-wrap .profile .leav-wrap p {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shell .content-wrap .profile .leav-wrap p * {
  font-size: 14px;
  line-height: 1;
  width: 49%;
}

.shell .content-wrap .profile .leav-wrap p span {
  white-space: nowrap;
  display: inline-block;
  text-align-last: left;
}

.shell .content-wrap .profile .leav-wrap p small, .shell .content-wrap .profile .leav-wrap p .accordion.ft-acc-style-white .card-header .acc-title small:after, .accordion.ft-acc-style-white .card-header .acc-title .shell .content-wrap .profile .leav-wrap p small:after, .shell .content-wrap .profile .leav-wrap p .my-fav .nav-cover small:before, .my-fav .nav-cover .shell .content-wrap .profile .leav-wrap p small:before, .shell .content-wrap .profile .leav-wrap p .my-fav .nav-cover small:after, .my-fav .nav-cover .shell .content-wrap .profile .leav-wrap p small:after {
  text-align: right;
  display: inline-block;
}

.shell .content-wrap .profile .leav-wrap p b {
  border: 1px solid #000;
  color: #AB1032;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  padding: 4px;
  font-size: 12px;
  width: 24px;
  font-weight: normal;
  height: 24px;
  line-height: 12px;
}

@media (max-width: 1190px) and (min-width: 600px) {
  .shell .content-wrap .profile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .shell .content-wrap .profile .prof-wrap {
    margin: auto 0;
    margin-right: 20px;
  }
  .shell .content-wrap .profile .prof-wrap .prof-pic {
    margin-top: auto;
    margin-bottom: auto;
  }
  .shell .content-wrap .profile .leav-wrap {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    position: relative;
    padding-top: 60px;
    text-align: left;
  }
  .shell .content-wrap .profile .leav-wrap h5 {
    position: absolute;
    top: 25px;
    left: 30px;
  }
  .shell .content-wrap .profile .leav-wrap p {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
  }
  .shell .content-wrap .profile .leav-wrap p * {
    width: auto;
  }
}

.shell .article-list {
  padding-top: 50px;
}

@media (max-width: 1023px) {
  .shell .article-list {
    padding-top: 35px;
  }
}

.shell .article-list .mob-filter {
  margin-bottom: 30px;
}

.shell .article-list a {
  display: block;
}

.shell .article-list a .brief {
  background: #fff;
  padding: 30px;
}

.shell .article-list a .brief span {
  color: #AB1032;
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
}

.shell .article-list a .brief p {
  color: #969698;
}

.shell .article-list a .brief small, .shell .article-list a .brief .accordion.ft-acc-style-white .card-header .acc-title small:after, .accordion.ft-acc-style-white .card-header .acc-title .shell .article-list a .brief small:after, .shell .article-list a .brief .my-fav .nav-cover small:before, .my-fav .nav-cover .shell .article-list a .brief small:before, .shell .article-list a .brief .my-fav .nav-cover small:after, .my-fav .nav-cover .shell .article-list a .brief small:after {
  display: inline-block;
}

.shell .article-list a:hover {
  -webkit-box-shadow: 0px 6px 12px #d9d9d9;
          box-shadow: 0px 6px 12px #d9d9d9;
  text-decoration: none;
  margin-top: -5px;
}

.shell .article-list a:hover .brief .btn.btn-tertiary {
  background: #AB1032;
  color: #fff;
  border: 2px solid #7c0c24;
}

.quick-access {
  padding: 0 0;
  margin-top: 30px;
}

.quick-access .cat-wrap {
  display: block;
  background: #fff;
  padding: 15px;
  color: #404040;
  text-align: center;
}

.quick-access .cat-wrap i {
  width: 100%;
  display: block;
  background: #FAF8F7;
  padding: 20px 0;
  margin-bottom: 15px;
}

.quick-access .cat-wrap i:before {
  text-align: center;
  font-size: 40px;
  color: #AB1032;
}

.quick-access .cat-wrap:hover {
  text-decoration: none;
}

.inner-banner {
  height: 283px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-banner h1 {
  font-size: 3.5625rem;
  margin-top: auto;
  margin-bottom: 40px;
  font-weight: bold;
  margin-left: 7.472270869819031%;
}

@media (max-width: 767px) {
  .inner-banner h1 {
    font-size: 2.5625rem;
  }
}

.inner-banner.banner-navigator {
  background: url(../images/navigator-banner.jpg);
  background-size: cover;
  background-position: center;
}

.inner-banner.banner-navigator h1 {
  color: #fff;
}

.inner-banner.banner-dksh-apps {
  background: url(../images/dksh-apps.jpg);
  background-size: cover;
  background-position: center;
}

.inner-banner.banner-dksh-apps h1 {
  color: #fff;
}

.inner-content-wrap {
  margin-top: 60px;
}

.inner-content-wrap.without-banner {
  margin-top: 0;
}

.inner-content-wrap .cont-container {
  margin: auto;
}

@media (min-width: 1025px) {
  .inner-content-wrap .cont-container {
    max-width: 1020px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .inner-content-wrap .cont-container .mb {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 768px) {
  .inner-content-wrap .cont-container .m-mb {
    margin-bottom: 1.875rem;
  }
}

.inner-content-wrap .cont-container .navigator-style .nav-cover {
  background: #FAF8F7;
  padding: 1.875rem;
  padding-left: 120px;
  position: relative;
  display: block;
  height: 100%;
  top: 0;
}

.inner-content-wrap .cont-container .navigator-style .nav-cover .btn-fav {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 10;
}

.inner-content-wrap .cont-container .navigator-style .nav-cover .btn-fav::before {
  color: #b0b0b1;
}

.inner-content-wrap .cont-container .navigator-style .nav-cover .btn-fav.active::before {
  color: #AB1032;
}

.inner-content-wrap .cont-container .navigator-style .nav-cover span[class^="icon-"], .inner-content-wrap .cont-container .navigator-style .nav-cover span[class*="icon-"] {
  position: absolute;
  left: 5px;
  width: 112px;
  text-align: center;
  padding: 15px;
  top: 50%;
  margin-top: -50px;
  display: inline-block;
  height: 112px;
}

.inner-content-wrap .cont-container .navigator-style .nav-cover span[class^="icon-"]::before, .inner-content-wrap .cont-container .navigator-style .nav-cover span[class*="icon-"]::before {
  font-size: 49px;
  color: #AB1032;
}

.inner-content-wrap .cont-container .navigator-style .nav-cover span[class^="icon-"].icon-location:before, .inner-content-wrap .cont-container .navigator-style .nav-cover span[class^="icon-"].icon-global:before, .inner-content-wrap .cont-container .navigator-style .nav-cover span[class*="icon-"].icon-location:before, .inner-content-wrap .cont-container .navigator-style .nav-cover span[class*="icon-"].icon-global:before {
  font-size: 67px !important;
}

.inner-content-wrap .cont-container .navigator-style .nav-cover span[class^="ico-"], .inner-content-wrap .cont-container .navigator-style .nav-cover span[class*="ico-"] {
  position: absolute;
  text-align: center;
  padding: 15px;
  left: 15px;
  bottom: 15px;
  top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  background: #fff;
}

.inner-content-wrap .cont-container .navigator-style .nav-cover span[class^="ico-"]::before, .inner-content-wrap .cont-container .navigator-style .nav-cover span[class*="ico-"]::before {
  font-size: 24px;
  color: #AB1032;
  font-weight: bold;
  margin: auto;
}

.inner-content-wrap .cont-container .navigator-style .nav-cover span[class^="ico-"].ico-CG::before, .inner-content-wrap .cont-container .navigator-style .nav-cover span[class*="ico-"].ico-CG::before {
  content: "CG";
}

.inner-content-wrap .cont-container .navigator-style .nav-cover span[class^="ico-"].ico-HC::before, .inner-content-wrap .cont-container .navigator-style .nav-cover span[class*="ico-"].ico-HC::before {
  content: "HEC";
}

.inner-content-wrap .cont-container .navigator-style .nav-cover span[class^="ico-"].ico-PM::before, .inner-content-wrap .cont-container .navigator-style .nav-cover span[class*="ico-"].ico-PM::before {
  content: "PM";
}

.inner-content-wrap .cont-container .navigator-style .nav-cover span[class^="ico-"].ico-TEC::before, .inner-content-wrap .cont-container .navigator-style .nav-cover span[class*="ico-"].ico-TEC::before {
  content: "TEC";
}

.inner-content-wrap .cont-container .navigator-style .nav-cover span[class^="ico-"].ico-GRC::before, .inner-content-wrap .cont-container .navigator-style .nav-cover span[class*="ico-"].ico-GRC::before {
  content: "GRC";
}

.inner-content-wrap .cont-container .navigator-style .nav-cover .title {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
  font-weight: bold;
  color: #404040;
}

.inner-content-wrap .cont-container .navigator-style .nav-cover p {
  font-size: 0.875rem;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .inner-content-wrap .cont-container .navigator-style .nav-cover:hover {
    top: -3px;
    -webkit-box-shadow: 0px 6px 12px #d9d9d9;
            box-shadow: 0px 6px 12px #d9d9d9;
  }
}

.inner-content-wrap .cont-container .navigator-style .nav-cover label {
  background: #fff;
  border: 1px solid #fff;
  font-size: 12px;
  padding: 5px 15px;
  color: #969698;
  margin-bottom: 0;
  position: absolute;
  left: 5px;
  top: -5px;
  left: 16px;
  top: -16px;
  -webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.1);
}

.inner-content-wrap .cont-container .navigator-style .card .vertically .nav-cover {
  cursor: pointer;
  padding-left: 1.875rem;
}

.inner-content-wrap .cont-container .navigator-style .card .vertically .nav-cover span {
  position: inherit;
  padding: 0;
  position: initial;
  top: initial;
  left: initial;
  width: initial;
  margin-top: 0;
  height: initial;
  margin-bottom: 20px;
}

.inner-content-wrap .cont-container .navigator-style .card .vertically .nav-cover span.icon-sap:before {
  font-size: 71px;
}

.inner-content-wrap .cont-container .navigator-style .card .vertically .nav-cover span.icon-E-recruitment:before {
  font-size: 60px;
}

.inner-content-wrap .cont-container .navigator-style .card .vertically .nav-cover span.icon-microsoft-teams:before {
  font-size: 55px !important;
}

.inner-content-wrap .cont-container .navigator-style .card .vertically .nav-cover span.icon-microsoft-teams:before {
  font-size: 55px !important;
}

.inner-content-wrap .cont-container .navigator-style .card .vertically .nav-cover span.icon-euromonitor-passport:before {
  font-size: 55px !important;
}

.inner-content-wrap .cont-container .navigator-style .card .vertically .nav-cover span.icon-salesforce:before {
  font-weight: bold;
}

.inner-content-wrap .cont-container .navigator-style .card .inner .market-list {
  margin: 0;
  padding: 0;
  margin-bottom: -20px;
}

.inner-content-wrap .cont-container .navigator-style .card .inner .market-list li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.inner-content-wrap .cont-container .navigator-style .card .inner .market-list li a {
  display: inline-block;
  vertical-align: middle;
  background: #FAF8F7;
  border-radius: 0;
  padding: 5px;
  position: relative;
}

.inner-content-wrap .cont-container .navigator-style .card .inner .market-list li a i {
  display: inline-block;
  padding: 10px;
  border-radius: 0%;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 29px;
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  background: #fff;
  color: #AB1032;
}

.inner-content-wrap .cont-container .navigator-style .card .inner .market-list li a span {
  color: #969698;
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px;
}

.inner-content-wrap .cont-container .navigator-style .card .inner .market-list li a:hover {
  -webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.1);
  background: #fff;
  top: -2px;
}

.inner-content-wrap .cont-container .navigator-style .card .inner .market-list li a:hover span {
  color: #969698;
}

.inner-content-wrap .cont-container .navigator-style .card .inner .market-list li a:hover i {
  background: #FAF8F7;
}

.my-fav {
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-fav .instruction {
  padding: 20px;
  border: 1px dashed #c9c9cb;
  display: block;
  margin: 0 15px;
  width: 100%;
  text-align: center;
}

.my-fav .nav-cover {
  position: relative;
  cursor: pointer;
  top: 0;
  background: #fff;
  display: block;
  padding: 1.875rem;
}

.my-fav .nav-cover small, .my-fav .nav-cover .accordion.ft-acc-style-white .card-header .acc-title small:after, .accordion.ft-acc-style-white .card-header .acc-title .my-fav .nav-cover small:after, .my-fav .nav-cover small:before, .my-fav .nav-cover small:after {
  display: block;
  width: 6px;
  background: #c9c9cb;
  height: 6px;
  position: absolute;
  right: 20px;
  top: 34px;
  border-radius: 50%;
}

.my-fav .nav-cover small:before, .my-fav .nav-cover .accordion.ft-acc-style-white .card-header .acc-title small:after, .accordion.ft-acc-style-white .card-header .acc-title .my-fav .nav-cover small:after, .my-fav .nav-cover small:after {
  position: absolute;
  display: block;
  content: "";
  right: 0;
}

.my-fav .nav-cover small:before {
  top: 9px;
}

.my-fav .nav-cover .accordion.ft-acc-style-white .card-header .acc-title small:after, .accordion.ft-acc-style-white .card-header .acc-title .my-fav .nav-cover small:after, .my-fav .nav-cover small:after {
  top: -9px;
}

.my-fav .nav-cover b {
  background: #fff;
  position: absolute;
  right: 16px;
  top: -20px;
  -webkit-box-shadow: 0px 5px 33px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 33px rgba(0, 0, 0, 0.1);
  padding: 13px;
  display: none;
  font-size: 14px;
  color: #969698;
  font-weight: normal;
}

.my-fav .nav-cover b:before {
  color: #c9c9cb;
  margin-right: 5px;
}

.my-fav .nav-cover b:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 9px;
  border-color: transparent transparent transparent #ffffff;
  content: "";
  position: absolute;
  right: -5px;
  top: 50%;
  margin-top: -5px;
}

.my-fav .nav-cover .more.open b {
  display: block;
}

.my-fav .nav-cover p {
  font-size: 0.875rem;
}

.my-fav .nav-cover span::before {
  font-size: 49px;
  color: #AB1032;
  margin-bottom: 20px;
  display: inline-block;
}

.my-fav .nav-cover .title {
  font-size: 1.25rem;
  color: #404040;
  font-weight: bold;
}

@media (min-width: 768px) {
  .my-fav .nav-cover:hover {
    top: -3px;
    -webkit-box-shadow: 0px 6px 12px #d9d9d9;
            box-shadow: 0px 6px 12px #d9d9d9;
  }
}

.widget-bx {
  background: #fff;
  padding: 30px;
}

.news-widget {
  margin-bottom: 50px;
}

.news-widget .article-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 -30px;
  margin-bottom: 30px;
  position: relative;
}

.news-widget .article-wrap:after {
  content: "";
  background: #e6e6e6;
  height: 1px;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: -15px;
}

.news-widget .article-wrap .art-img-wrap {
  padding: 0 0 0 30px;
  max-width: 120px;
  border: none 0;
}

.news-widget .article-wrap .art-img-wrap .img {
  width: 100%;
  height: 100%;
}

.news-widget .article-wrap .art-img-wrap .img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .news-widget .article-wrap .art-img-wrap .img {
    width: 60px;
    height: 60px;
  }
}

.news-widget .article-wrap .art-txt {
  padding: 0 30px;
}

.news-widget .article-wrap .art-txt .spec {
  font-size: 15px;
}

.news-widget .article-wrap:last-child {
  margin-bottom: 0;
}

.news-widget .article-wrap:last-child::after {
  display: none;
}

.news-widget .article-wrap:hover .heading-3 {
  color: #AB1032;
}

.tags {
  margin-bottom: 50px;
}

.tags a {
  display: inline-block;
  border: 1px solid #e6e6e6;
  font-size: 16px;
  padding: 15px 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  color: #404040;
}

.tags a:hover {
  border-color: #AB1032;
}

.widget-option {
  margin-bottom: 20px;
  margin-top: 25px;
  position: relative;
}

.widget-option select {
  border: 1px solid #e6e6e6;
  padding: 15px;
}

.widget-option .po-filter {
  background: #fff;
  padding: 15px 20px;
  display: inline-block;
  color: #969698;
  margin-right: 15px;
}

.widget-option .po-filter i {
  margin-right: 10px;
  color: #AB1032;
}

.widget-option .policy-filter-opt {
  z-index: 10;
  border: none 0;
  border-radius: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 13px 31px -6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 13px 31px -6px rgba(0, 0, 0, 0.1);
  position: absolute;
}

.widget-option .policy-filter-opt .card {
  border: 0 none;
}

.widget-option .policy-filter-opt label {
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
}

.widget-option .policy-filter-opt label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
  border: 1px solid #969698;
  margin-top: -3px;
}

.widget-option .policy-filter-opt label span:after {
  width: 10px;
  height: 10px;
  background: #AB1032;
  border-radius: 50%;
  display: inline-block;
  margin: 4px;
  opacity: 0;
  content: "";
}

.widget-option .policy-filter-opt label input[type="radio"] {
  margin-right: 10px;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.widget-option .policy-filter-opt label input:checked ~ span:after {
  opacity: 1;
}

.widget-option .acco-closed {
  position: relative;
  display: inline-block;
  color: #969698;
  background: #fff;
  padding: 15px 20px 15px 40px;
}

.widget-option .acco-closed small, .widget-option .acco-closed .accordion.ft-acc-style-white .card-header .acc-title small:after, .accordion.ft-acc-style-white .card-header .acc-title .widget-option .acco-closed small:after, .widget-option .acco-closed .my-fav .nav-cover small:before, .my-fav .nav-cover .widget-option .acco-closed small:before, .widget-option .acco-closed .my-fav .nav-cover small:after, .my-fav .nav-cover .widget-option .acco-closed small:after {
  font-size: initial;
  line-height: 1;
}

.widget-option .acco-closed span {
  width: 1px;
  height: 12px;
  position: absolute;
  background: #AB1032;
  display: inline-block;
  left: 20px;
  top: 20px;
}

.widget-option .acco-closed span i::before {
  font-size: 7px;
  position: absolute;
  right: -3px;
  color: #AB1032;
  bottom: -5px;
}

.widget-option .acco-closed span i.top:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: -4px;
  bottom: inherit;
}

.widget-option .acco-closed.collaspe-po span i:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: 1px;
}

.widget-option .acco-closed.collaspe-po span i.top:before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  top: 1px;
  bottom: inherit;
}

.art-dt-wrap {
  background: #fff;
  margin-bottom: 3.125rem;
}

.art-dt-wrap .cont-container {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.art-dt-wrap .artc-date {
  clear: both;
  margin-bottom: 1.563rem;
  color: #AB1032;
}

.art-dt-wrap img {
  margin-bottom: 1.563rem;
}

.related-artc [class*="col-"] {
  margin-bottom: 3.125rem;
}

.related-artc .reltd-art-item {
  height: 100%;
  padding: 3.125rem;
  background: #fff;
}

.related-artc .reltd-art-item .ico-more {
  border-radius: 50%;
  width: 40px;
  text-align: center;
  vertical-align: middle;
  color: #AB1032;
  border: 2px solid #AB1032;
  height: 40px;
  display: block;
  position: relative;
}

.related-artc .reltd-art-item .ico-more:before {
  position: absolute;
  left: 11px;
  -webkit-transform: rotate(273deg);
          transform: rotate(273deg);
  top: 10px;
}

.related-artc .reltd-art-item:hover {
  -webkit-box-shadow: 0px 6px 12px #d9d9d9;
          box-shadow: 0px 6px 12px #d9d9d9;
  text-decoration: none;
  margin-top: -5px;
}
/*# sourceMappingURL=style.css.map */